input
	border 0px solid transparent
	border-radius 3px
	font-family "RLight"
	font-size .9rem
	padding .4rem
	width 100%
.button
	background $yellow
	font-family "RLight"
	font-size .9rem
	padding .5rem
	text-transform uppercase
.button-white-border
	border 1px solid white
	color white 
	font-family "RLight"
	font-size .9rem
	padding .5rem
	text-transform uppercase