#app-buttons
	margin-top 30px
	text-align right
#app-field-title-exception
	padding-left 1rem
#app-login
	background $blue
	color white
	font-family "RRegular"
	font-size .8rem
	margin-top 30px
	padding .7rem
	text-align center
#appointment-title
	border-bottom 1px dotted rgba(0,0,0,.6)
	color #333
	font-family "RBold"
	text-align center
	text-transform uppercase
#appointments
	background #eee
	padding .5rem
#imahpp-info
	background #eee
	font-family "RLight"
	margin-bottom 10px
	padding 10px
#login-wrapper
	background $bluegray
	border-radius 6px
	padding 10px
	position absolute
	right 5px
	top 130%
	width 200px
	z-index 2
	&:before
		border-bottom 12px solid $bluegray
		border-left 12px solid transparent
		border-right 12px solid transparent
		bottom 100%
		content ""
		position absolute
		right 50px
#main-pic
	padding 0
	position relative
#main-pic-figure
	margin 0
	padding 0
#overlay
	height 100%
	left 0
	position absolute
	top 0
	width 100%
#overlay-items
	background rgba(0,0,0,0.5)
	bottom 0
	left 0
	padding 1rem .5rem
	position absolute
	width 100%
	& .overlay-item
		color white
		font-family "RLight"
		font-size .9rem
		margin-right .5rem
		position relative
		text-transform uppercase
		&:before
			content "\f0da  "
			color $red
			font-family "icomoon"
#overlay-title
	color black
	font-family "RBold"
	font-size 1.4rem
	left .5rem
	position absolute
	top .5rem
#sec-info-inner
	border 2px solid $red
	border-radius 5px
	font-size .8rem
	margin-top 10px
	padding 10px 10px 10px 50px
	position relative
	&:before
		content "\f023"
		color $red
		font-family "icomoon"
		font-size 2rem
		left 15px
		position absolute
.app-field
	margin-bottom .5rem
	padding .2rem
.app-field-input
	font-family "RRegular"
	font-size .9rem
.app-field-title
	padding .4rem 0 0 0
	font-family "RBold"
	font-size .9rem
.brand
	font-family "RBold"
.forgot-section
	display inline-block
	float left
	font-family "RLight"
	padding-left 5px
	text-align left
	font-style italic
	&:hover
		cursor pointer
.hour-pref
	border 1px solid #aaa
	display inline-block
	padding .5rem
	width 100%
.hour-pref-selected
	background $red
	border 0px solid transparent
	color white
.imahblue
	color $imahbrand
	font-size 1.6rem
.login-row
	padding 10px 0