@import 'nib/vendor'
@import 'fontface.styl'
@import 'colors.styl'
@import 'header.styl'
@import 'nav.styl'
@import 'landing.styl'
@import 'forms.styl'
@import 'footer.styl'
@import 'home.styl'

vendor-prefixes = o ms moz webkit official

$radius = 5px

a
  text-decoration none
body
  background white
  font-size 16px
  margin 0
.float-right
	float right
.padd-me-updown
	padding .5rem 0
.RBold
	font-family "RBold"
.relative
	position relative
.RLight
	font-family "RLight"
.RRegular
	font-family "RRegular"
.separate-top
	margin-top 10px !important
.take-me-center
	text-align center
.take-me-right
	text-align right
.vertical-top
	vertical-align top